<div class="home">
  <button class="btn btn-success col-2 mt-2" (click)="createNewContact()">
    Click
  </button>

  <form (ngSubmit)="filtrar()" [formGroup]="formFilter" class="row mt-2">
    <label for="name" class="col-6">
      <input type="text" id="name" [formControl]="controlFilter.name" class="form-control"/>
    </label>
    <button class="btn btn-secondary col-2">Filtrar</button>
  </form>
</div>
<div *ngFor="let item of contactsList">
  <app-list [contact]="item"></app-list>
</div>
<ng-template #modalNewContact>
  <div class="modal-header">
    <h1 class="mb-2 mt-0">Adicione Contatos</h1>
    <i class="bi bi-telephone-plus-fill"></i>
  </div>

  <div class="modal-body row">
    <form [formGroup]="form" class="row">
      <div class="lado-esquerdo row col-lg-6 col-sm-6">
        <div class="col-sm-12 col-md-4 col-lg-12">
          <label for="name"
            >Nome
            <input
              [formControl]="control.name"
              class="form-control"
              type="text"
              id="name"
              name="name"
              placeholder="Digite o nome do contato"
            />
          </label>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-12">
          <label for="email">
            E-mail
            <input
              [formControl]="control.email"
              name="email"
              class="form-control"
              type="email"
              id="email"
              placeholder="Digite o e-mail do contato"
            />
          </label>
        </div>
      </div>

      <div id="lado-direito" class="lado-direito row col-lg-6 col-sm-6 ml-2">
        <ng-container *ngFor="let phone of phonesArray.controls; let i = index">
          <div class="col-sm-1 col-md-4 col-lg-8 mt-2">
            <label for="phone">
              Telefone
              <input
                class="form-control"
                type="text"
                name="phone"
                placeholder="Digite o telefone"
                [formControl]="phone.get('phone')"
              />
            </label>
          </div>

          <div
            *ngIf="phonesArray.length > 1"
            class="col-sm-2 col-md-4 col-lg-3 mt-4"
          >
            <button
              type="button"
              class="btn btn-danger"
              (click)="removeTelefone(i)"
            >
              -
            </button>
          </div>
        </ng-container>

        <div class="col-sm-12 col-md-4 col-lg-12 mb-3 mt-2">
          <button type="button" class="btn btn-success" (click)="addPhones()">
            add mais telefones
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer col-lg-12">
    <div class="alert alert-danger" role="alert" *ngIf="showAlert">
      Falta informações
    </div>
    <button type="button" class="btn btn-success" (click)="criarContato()">
      Criar contato
    </button>
  </div>
</ng-template>
