<button (click)="createNewContact()">Click</button>

<ng-template #modalNewContact>
  <div class="modal-header"><h1>Adicione Contatos</h1></div>
  <div class="modal-body row">
    <div class="lado-esquerdo row col-lg-6 col-sm-3">
      <div class="col-sm-12 col-md-4 col-lg-6">
        <label for="name"
          >Nome
          <input type="text" id="name" placeholder="Digite o nome do contato" />
        </label>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-6">
        <label for="email">
          E-mail
          <input type="email" placeholder="Digite o e-mail do contato" />
        </label>
      </div>
    </div>
    <div class="lado-direito row col-lg-6 col-sm-3">
      <div class="col-sm-12 col-md-4 col-lg-12">
        <div *ngFor="let phone of phonesArray.controls; let i = index">
          <label for="phone">
            Telefone
            <input
              type="text"
              id="phone"
              placeholder="Digite o telefone"
              (formControl)="(phone.control)"
            />
          </label>
          <div *ngIf="phonesArray.length > 1">
            <button (click)="removeTelefone(i)">Remove telefones</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-12">
      <button (click)="addPhones()">add mais telefones</button>
    </div>
    </div>
  </div>
  <div class="modal-footer"><button (click)="criarContato()">Criar contato</button></div>
</ng-template>
