.modal-body {
  label {
    font-size: 15px;
  }

  color: #3a3a3a;
}

.modal-header {
  height: 50px;
  h1 {
    font-size: 25px;
    font-weight: 400;
  }
}

.lado-direito {
  width: 100%;
  border: 2px solid #6f7cc2;
  border-radius: 6px;
  max-height: 140px;
  overflow-y: scroll;

  .btn-danger {
    margin-top: 6%;
  }
}

input {
  background-color: rgb(255, 255, 255);
  border: 2px solid #bfc2ff;
  color: rgb(0, 0, 0);
  padding: 4px;
  font-size: 20px;
  width: 100%;
  border-radius: 6px;
}

input:focus {
  border-color: #0019a7;
}


#lado-direito input:focus{
    border-color: #0019a7;
}
